@import "tailwindcss";

@theme {
    /* Fontes */
    --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;

    /* Cores Customizadas */
    --color-primary-color: #0050C3;
    --color-secondary-color: #034874;
    --color-fourth-color: #0a6897;
    --color-danger-color: #e3342f;
    
}



